{% extends "base.html" %}
{% block content %}
<div class="container">
    <form class="form-signin" name="LoginForm" method="post">
        <div class="row">
            <div class="col-md-8 col-md-offset-3">
                <h2 class="form-signin-heading">Sign In</h2>
                <input type="text" class="input-block-level " placeholder="Email Address">
                <input type="password" class="input-block-level" placeholder="Password">
                <button class="btn btn-large btn-primary">Sign in</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}